/* style.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5; /* Lighter gray background */
    margin: 0;
    padding: 0;
}

.container {
    width: 30%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h3 {
    text-align: center;
    color: #3E3E3F;
}

input[type="number"] {
    width:310px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    width: 110px;
    background-color: #ff8c00; /* Orange */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #ff6f00; /* Darker shade of orange on hover */
}

.result {
    width: auto;
    color: #3E3E3F;
    font-weight: bolder;
    font-size: 400;
    margin-top: 30px;
    padding: 10px;
    text-align: center;
}